@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2a2a2a;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
  }

  .custom-root-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-root-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-root-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cca629;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .custom-root-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-[#cca629];
  }
}

html, body {
  position: relative;
  min-height: 100vh;
  background: transparent;
}

body::before {
  content: "";
  inset: 0;
  margin: 0;
  position: fixed;
  background-image: url('/assets/stock-market-background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -2;
}